<div class="container">
    <h1>Создать новое голосование</h1>

    <form class="form-horizontal">
        <div class=control-group"">
            <label class="control-label" for="question">Вопрос:</label>
            <div class="text-area">
                <textarea id="question" data-ng-model="voter.question" > </textarea>
            </div>

            <label  class="control-label" for="answerses">Ответы:</label>

            <fieldset  id = "answerses"  data-ng-repeat="item in answers">
                <div class="input-lg" >
                    <input type="text" data-ng-model="item.answer"/>
                    <button class="remove" data-ng-show="$last" data-ng-click="removeAnswer()">-</button>
                    <button class="add" data-ng-show="$last" data-ng-click="addAnswer()">+</button>
                </div>
            </fieldset>
        </div>

        <div class="control-group">
            <div class="form-select-button">
                <a data-ng-click="createNewVoter()" class="btn btn-success">Готово</a>
            </div>
        </div>
    </form>
</div>
