<div class="container">
    <h1>Create a new voter</h1>

    <form class="form-horizontal">
        <div class=control-group"">
            <label class="control-label" for="question">Вопрос:</label>
            <div class="text-area">
                <textarea id="question" data-ng-model="voter.question" > </textarea>
            </div>

            <label  class="control-label" for="answers">Ответы:</label>

            <fieldset  data-ng-repeat="item in answers">
                <div id = "answerses" class="input-lg" >
                    <input type="text" data-ng-model="item.answer"/>
                    <button class="remove" data-ng-show="$last" data-ng-click="removeAnswer()">-</button>
                </div>
            </fieldset>

            <div class="form-select-button">
                <a data-ng-click="addAnswer()" class="btn btn-success">Добавить вариант ответа</a>
            </div>

        </div>
        <div class="control-group">
            <div class="form-select-button">
                <a data-ng-click="createNewVoter()" class="btn btn-success">Создать глосование</a>
            </div>
        </div>
    </form>
</div>
