
    <div class="row">
        <div class="col-md-12">
            <div class="panel">
                <div class="panel-heading title">{{voter.question}}</div>
                <div class="panel-body" >
                    <div class="panel panel-info ">
                        <table class="table table-hover table-bordered">
                            <tbody >
                            <tr data-ng-repeat="item in voter.answerses" >
                                <td>
                                    <input type="radio" name="radioBut"  value="{{item.id}}"> {{item.answer}}
                                </td>
                                <td class="">{{item.votes}}</td>
                            </tr>
                            </tbody>
                        </table>
                    </div>
                </div>
                <div data-ng-hide="voter.isclosed">
                    <div  class="button">
                        <a data-ng-click="updateVoter()" class="btn btn-small btn-primary">Ответить</a>
                    </div>
                    <div class="button">
                        <a data-ng-click="closeVoter()" class="btn btn-small btn-primary">Закрыть голосование</a>
                    </div>
                </div>
                Ссылка для голосования: http://localhost:8080/#!/voter/{{voter.id}}
            </div>
            </div>
    </div>
